
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for future updates</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hello! My name is Sheena Vicky Hathiwala, I am currently a student at Seneca College, name of my program is CPP (Computer Programming), the reason I chose this as my career option is that I used to love computer 
                            and was very fascinated by growing technology which made me believe that even I want to play with it and create new beautiful things. I aspire to become a full stack developer and maybe work  in a good company 
                            or start-up a software company of my own.
                        </p>
                        <p>
                            I love to drive and specially long drives, I love to listen to music too whenever I get free time or am doing nothing I keep listening to songs. I even like to collect things like glasses and even limited edition 
                            energy drinks cans usually I don't throw them away until my roommates get pissed off of me.
                        </p>
                        <p>
                            Here at our shop you will get the best quality products and get a vast variety of products, hope you will love it.
                        </p>
                        <p>
                            Thank you for visiting us!
                        </p>

                        
                    </article>
                </section>
            </div>
        </div>

      